/* https://coolors.co/ffe74c-ff6f59-645853-4ea5d9-44cfcb
/* CSS HEX
#F7FFF7; - almost white
#343434; - Dark Gray- almost black
--minion-yellow: #ffe74c;
--bittersweet: #ff6f59;
--umber: #645853;
--uranian blue #A9D4EF
--carolina-blue: #4ea5d9;
--medium-turquoise: #44cfcb;
"Uranian Blueâ€:  #a9d4ef;
" middle blue green: #32C3BE

*/
/* Global styles
------------------------- */
 html {
  box-sizing: border-box;
}
 *, *:before, *:after { 
  box-sizing: inherit;
} 
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe74c;
}
a:hover{
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  
  font-size: 45px;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
width: 700px;
margin: 0 auto;
padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {border-bottom: 1px dashed #645853;
padding: 25px 0;}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
------------------------- */
header {
  background:  #32C3BE;
  color: #F7FFF7;
  text-align: center;
}

/* Projects
------------------------- */
.projects {
  background: #F7FFF7;
}
.projects a{
  color:#645853;

}
.projects .btn{
color:#F7FFF7;
background: #645853;
text-decoration: none;
padding: 8px;
border-radius: 4px;
display: inline-block;
}
.projects .btn:hover{
  background: rgba(100, 88, 83, 80%);
}

.project-item {
  overflow: hidden;
}
.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item H3 {
  margin-top: 0;
}

/* Work Experience
------------------------- */
.work {
  background: #a9d4ef;
}
.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}
/* Education
------------------------- */
/* Contact info
------------------------- */
footer {
  background: 
  #645853;
  color: #F7FFF7;
  text-align: center;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}